.item {
   background: #fff;
   border-radius: 15px;
   box-shadow: 0 2px 8px hsl(0deg 0% 30% / 50%), 0 0 0 1px hsl(0deg 0% 8% / 20%);
   height: 100%;
   margin: 0 .83% 1.5rem;
   overflow: hidden;
   text-align: center;
   width: 15%;
}

.item.skeleton {
   box-shadow: 0 2px 8px rgba(243, 206, 105, 0.01), 0 0 0 1px hsl(0deg 0% 1% / 1%);
}

@media(max-width:1024px) {
   .item {
      margin-left: 1%;
      margin-right: 1%;
      width: 23%;
   } 
}

@media(max-width:767px) {
   .item {
      width: 31.33%;
   } 
}

@media(max-width:480px) {
   .item {
      width: 48%;
      margin-bottom: 1.2rem;
   } 
}

.item img {
   width: 100%;
   height: auto;
   display: block;
}

.item p {
   margin: .5rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.item p::first-letter {
   text-transform: capitalize;
}

.green {
   color: #06bdac;
}

.red {
   color: #ff0000;
}

.orange {
   color: #9c27b0;
}

p.skeleton {
   background: #ebebeb;
   width: 70%;
   height: 1.125rem;
   margin: 0.5rem auto;
}

@media(max-width:480px) {
   p.skeleton {
      height: 1.25rem;
   }
}

p.skeleton:nth-child(odd) {
   width: 60%;
}

p.skeleton:last-child {
   width: 40%;
}

.item a {
   color: inherit;
   display: block;
   height: 100%;
   position: relative;
   text-decoration: none;
}